h1 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.insertar {
    background-color: aquamarine;
    border-color: rgb(22, 3, 16);
    border-style:double;
    padding-left: 1%;
    
}

.mostrar{
    background-color: aquamarine;
     border-color:  rgb(22, 3, 16);
    border-style:double;
}
.actualizar{
    background-color: aquamarine;
     border-color:  rgb(22, 3, 16);
    border-style:double;
    padding-left: 1%;
}
div{
    margin-bottom: 1%;
}
table{
    padding:1%;
}

p{
    font-family: fantasy;
}
body{
    background-color: cadetblue;
}
.{

}